// Resets
html, 
body, 
#root, 
main{
  margin:0px;
  padding:0px;
  height: 100%;
}

//Custom Styles
header{
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  background-image: url("/Background.jpg");
  background-size: cover;
}

#content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#hero{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h1{
    text-align: center;
  }

  #cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;

    .leftCard{
      display: flex;
      text-decoration: none;
      color:black;
      padding-left: 30px;
      &:hover{
        background-color: blue;
      }
    }
    
    .rightCard{
      display: flex;
      text-decoration: none;
      justify-content: right;
      color:black;
      padding-right: 30px;
      &:hover{
        background-color: green;
      }
    }
  }
}

#dictionary{
  display: flex;
  flex-direction: column;
  .birdCard{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 20px;
    .info{
      margin-left: 10px;
      h1{
        font-size: large;
      }
    }
    img{
      width: 400px;
    }
  }
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:black;
  margin-left: 5px;
  margin-right: 5px;
}