// Resets
html, 
body, 
#root, 
main{
  margin:0px;
  padding:0px;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

//Custom Colors
$light-green: #a2b77f;
$mid-green: #708631;
$dark-green: #213513;
$light-blue: #bbe4fb;
$mid-blue: #94c1ec;
$dark-blue: #446474;

//Custom Styles
header{
  display: flex;
  justify-content: center;
  align-items: center ;
  position: relative;
  a{
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: $light-blue;
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 20px;
    border: 3px solid $dark-blue;
    border-radius: 10px;
    &:hover{
      background-color: $mid-blue;
    }
  }
  h1{
    text-align: center;
    background-color: $light-blue;
    margin: 10px auto 0 auto;
    padding: 5px 20px 5px 20px;
    border: 5px solid $dark-blue;
    border-radius: 10px;
  }
}

main{
  display: flex;
  flex-direction: column;
  background-image: url("/Background.jpg");
  background-size: cover;
  overflow: hidden;
}

#content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#hero{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h1{
    text-align: center;
    margin: 20px 0 0 0
  }

  #cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;

    .card{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      text-decoration: none;
      color:black;
      margin-right: 30px;
      margin-left: 30px;
      overflow: hidden;
      border: 2px solid black;
      border-radius: 15px;
      img{
        width: 400px;
      }
    }

    .card-text{
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .line{
      width: 0px;
      height: 10px;
      box-sizing: border-box;
    }

      @keyframes lengthen {
        to {
          width: 100%;
        }
      }

    .leftCard{
      background-color: $light-blue;
      animation: 2s slide-left forwards;
      transform: translate(-40%);
      h2{
        text-align: center;
      }

      .line{
        background-color: $dark-blue;
      }

      &:hover{
        background-color: $mid-blue;
      }

      &:hover .line{
        animation: 2s lengthen forwards;
      }

      @keyframes slide-left{
        to {
          transform: translateX(0);
        }
      }
    }
    
    .rightCard{
      background-color: $light-green;
      animation: 2s slide-left forwards;
      transform: translate(40%);

      h2{
        flex-grow: 1;
        text-align: center;
      }

      .line{
        background-color: $dark-green;
      }

      &:hover{
        background-color: $mid-green;
      }

      &:hover .line{
        animation: 2s lengthen forwards;
      }

      @keyframes slide-right{
        to {
          transform: translateX(0);
        }
      }
    }
  }
}

#dictionary{
  display: flex;
  
  flex-direction: column;
  h1{
    font-size: 30px;
    margin-left:20px;
    margin-bottom: 10px;
  }
  .dict-content{
    display: flex;
    flex-direction: row;
  }
  .search{
    margin-left:20px;
    width: 25%;
    background-color: $light-green;
    border: 5px solid $dark-green;
    border-radius: 5px;
    h2{
      margin: 5px 10px 0px 10px;
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;
      &:hover{
        background-color: $mid-green;
      }
    }
    .active{
      background-color: $mid-green;
    }
    h3{
      margin: 5px 10px 0px 10px;
      padding: 5px;
      font-size: medium;
    }
  }
  .mobileSearch{
    display: flex;
    position:relative;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    background-color: $dark-green;
    a{
      margin: 5px;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
      background-color: $mid-green;
      &:hover{
        background-color: $light-green;
      }
    }
    .dropdown{
      background-color: $light-green;
      margin: 5px 10px 0px 10px;
      padding: 0px;
      border-radius: 5px;
      position:absolute;
      left:30px;
      top:10px;
      h2{
        margin: 5px 10px 5px 10px;
        padding: 5px;
        cursor: pointer;
        border-radius: 5px;
        &:hover{
          background-color: $mid-green;
        }
      }
    }
    .selected{
      h2{
        display: none;
        margin: 5px;
        padding: 5px;
        background-color: $light-green;
        border-radius: 5px;
      }
      .active{
        display: block;
      }
    }
    .active{
      background-color: $mid-green;
    }
    
  }
  .birdCard{
    display: flex;
    width: 75%;
    height: fit-content;
    flex-direction: row;
    margin: 0px 50px 0px 50px ;
    padding: 5px;
    background-color: $light-blue;
    border: 5px solid $dark-blue;
    border-radius: 5px;
    .birdInfo{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 10px 0px 0px 10px;
      h1{
        font-size: x-large;
        background-color: $mid-blue;
        border: 2px solid $dark-blue;
        margin: 0px 0px 0px 0px;
        padding: 5px;
      }
      .description{
        font-size: large;
      }
      audio{
        margin: 10px 0 10px 0
      }
    }
    div{
      border: 2px solid $dark-blue;
    }
    img{
      width: 400px;
    }
    .credit{
      font-size: small;
    }
  }
}

#practice{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex-grow: 1;
  #start-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-blue;
    border: 5px solid $dark-blue;
    padding: 10px;
    width: 25%;
    h1{
      font-size: 30px;
      margin: 20px 0 5px 0;
      padding: 5px;
      background-color: $mid-blue;
      border: 3px solid $dark-blue;
      border-radius: 5px;
    }
    .start-text{
      margin: 10px;
      p{
        margin: 0px;
        font-size: large;
        text-align: center;
      }
    }
    
    a{
      color:white;
      background-color: $mid-green;
      cursor: pointer;
      padding: 10px 20px;
      border: 3px solid $dark-green;
      border-radius: 5px;
      &:hover{
        background-color: $light-green;
      }
    }

    .difficulty{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 10px 0px;
      p{
        font-size: large;
        &:nth-of-type(2){
          margin-left: 10px;
        }
      }
      a{
        margin: 0px 5px 0px 5px;
        padding: 5px 10px 5px 10px;
        background-color: $mid-blue;
        border: 3px solid $dark-green;
        color: black;
        border-radius: 5px;
        &:hover{
          background-color: $light-blue;
        }
      }
    }
    
  }
  #question-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-blue;
    padding: 20px;
    border: 5px solid $dark-blue;
    border-radius: 10px;
    h2{
      text-align: center;
      background-color: $light-blue;
      margin: 10px auto 0 auto;
      padding: 10px 20px;
      border: 5px solid $dark-blue;
      border-radius: 10px;
    }
    a{
      color: white;
      position: absolute;

      background-color: $mid-green;
      cursor: pointer;
      padding: 5px 10px;
      border: 3px solid $dark-green;
      border-radius: 5px;
      &:hover{
        background-color: $light-green;
      }
    }
    .back{
      top: -20px;
      left: -30px;
    }
    .hint{
      top: -20px;
      right: -30px;
    }
    #question{
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
        font-size: 20px;
        margin: 10px 0 10px 0;
      }
      form{
        color: white;
        bottom: -50px;
        margin: 10px 0 10px 0;
        padding: 5px 10px 5px 10px;
        background-color: $mid-green;
        border: 3px solid $dark-green;
        border-radius: 5px;
        label{
          margin-right: 5px;
        }
        input{
          margin-right: 5px;
        }
        button{
          cursor: pointer;
          padding: 5px;
          background-color: $light-green;
          border: 3px solid $dark-green;
          border-radius: 5px;
          &:hover{
            background-color: $mid-green;
          }
        }
      }
      .multipleChoice{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Adjust spacing between buttons as needed */
        button{
          cursor: pointer;
          padding: 5px;
          margin: 0px 5px 0px 5px;
          background-color: $light-green;
          border: 3px solid $dark-green;
          border-radius: 5px;
          font-size: medium;
          &:hover{
            background-color: $mid-green;
          }
        }
        
      }
      img{
        width: 400px;
        margin: 10px 0 10px 0;
      }
      .response{
        font-size: large;
        margin: 10px 0px 0px 0px;
      }
    }
  }
  #endCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-blue;
    border: 5px solid $dark-blue;
    padding: 10px;
    h1{
      font-size: 30px;
    }
    a{
      color: white;
      background-color: $mid-green;
      cursor: pointer;
      padding: 10px 20px;
      border: 3px solid $dark-green;
      border-radius: 5px;
      &:hover{
        background-color: $light-green;
      }
    }
  }
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:white;
  padding: 0 5px 0 5px;
  border-top: 5px solid $dark-green;
  background-color: $mid-green;
}

//Media Queries (Responsive Mobile)
@media (max-width:786px) {

  main{
    background-size:cover;
    overflow: auto;
  }

  header{
    a{
      left: 3px;
      padding: 4px 5px;
    }
    h1{
      font-size: x-large;
    }
  }

  #hero{
    h1{
      font-size: large;
      margin: 20px 0 0 0;
    }
    #cards{
      .card{
        width: 90%;
        font-size: 12px;
        img{
          width: 200px;
        }
      }
    }
  }

  #dictionary{
    h1{
      margin: 10px;
    }
    .search{
      width: 90%;
      font-size: small;
      margin-bottom: 5px;
    }
    .dict-content{
      flex-direction: column;
      .birdCard{
        width: 90%;
        margin: auto;
        flex-direction: column;
        margin-bottom: 5px;
        img{
          width: 300px;
        }
      }
    }
  }

  #practice{
    #start-card{
      width: 75%;
      h1{
        text-align: center;
      }
    }
    #question-card{
      .back{
        left:-20px;
      }
      .hint{
        right:-20px;
      }
      #question{
        img{
          width: 250px;
        }
        .multipleChoice{
          color: black;
          display: flex;
          flex-direction: column;
        }
      }
      
    }
    
  }
}
